<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BedMapper">

<!--    create table bedmanage(-->
<!--    id int primary key auto_increment,-->
<!--    roomid int,-->
<!--    buildingid int,-->
<!--    isavailable char(1),-->
<!--    userid int unique,-->
<!--    CONSTRAINT fk_bed_user FOREIGN KEY(userid) REFERENCES customer(id)-->
<!--    );-->

    <resultMap id="BedResultMap" type="Bed">
        <id column="id" property="id"/>
        <result column="roomid" property="roomId"/>
        <result column="buildingid" property="buildingId"/>
        <result column="isavailable" property="isAvailable"/>
        <result column="userid" property="userId"/>
    </resultMap>
    <insert id="add">
        insert into bedmanage (roomid, buildingid, isavaiblable,userid)
        values(#{roomId}, #{buildingId}, #{isAvailable}, #{userId});
    </insert>
    <update id="update">
        update bedmanage
        set
            roomid=#{roomId},
            buildingid=#{buildingId},
            isavaiblable=#{isAvailable}
        where id = #{id};

    </update>
    <delete id="deleteById">
        delete from bedmanage where id = #{id};
    </delete>
    <select id="selectById" resultType="pojo.Bed">
        select * from bedmanage where id=#{id};
    </select>

</mapper>