<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CustomerGoOutMapper">


<!--    create table outgoing(-->
<!--    id int primary key auto_increment,-->
<!--    outgoingreason varchar(20),-->
<!--    outgoingtime varchar(20),-->
<!--    expectedreturntime varchar(20),-->
<!--    actualreturntime varchar(20),-->
<!--    escort varchar(20),-->
<!--    escorttel varchar(20),-->
<!--    outgoing_id int,-->
<!--    CONSTRAINT fk_outgoing_user FOREIGN KEY(outgoing_id) REFERENCES customer(id)-->
<!--    );-->

    <resultMap id="CustomerGoOutResultMap" type="CustomerGoOut">
        <id column="id" property="id"/>
        <result column="outgoingtime" property="outGoingTime"/>
        <result column="expectedreturntime" property="expectedReturnTime"/>
        <result column="actualreturntime" property="actualReturnTime"/>
        <result column="escort" property="escort"/>
        <result column="escorttel" property="escortTel"/>
        <result column="outgoing_id" property="customerId"/>
    </resultMap>
    <insert id="add">
        insert into outgoing (outgoingtime, expectedreturntime, actualreturntime, escort, escorttel, outgoing_id)
        values(#{outGoingTime},#{expectedReturnTime},#{actualReturnTime},#{escort},#{escortTel},#{customerId});
    </insert>
    <update id="update">
        update outgoing
        set
            outgoingtime=#{outGoingTime},
            expectedreturntime=#{expectedReturnTime},
            actualreturntime=#{actualReturnTime},
            escort=#{escort},
            escorttel=#{escortTel},
            outgoing_id=#{customerId}
        where id={id};
    </update>
    <delete id="deleteById">
        delete from outgoing where id=#{id};
    </delete>
    <select id="selectById" resultType="pojo.CustomerGoOut">
        select * from outgoing where id=#{id};
    </select>


</mapper>