<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FoodRecordMapper">

<!--    create table foodrecord(-->
<!--    id int primary key auto_increment,-->
<!--    food varchar(100),-->
<!--    food_date date,-->
<!--    food_id int,-->
<!--    CONSTRAINT fk_food_user FOREIGN KEY(food_id) REFERENCES customer(id)-->
<!--    );-->

    <resultMap id="FoodRecordResultMap" type="FoodRecord">
        <id column="id" property="id"/>
        <result column="food" property="food"/>
        <result column="food_date" property="date"/>
        <result column="food_id" property="foodId"/>
    </resultMap>
    <insert id="add">
        insert into retreatrecord (food, food_id, food_date)
        values(#{food},#{foodId},#{date});
    </insert>
    <update id="update">
        set
            food=#{food},
            food_id=#{foodId},
            food_date=#{date}
        where id=#{id};
    </update>
    <delete id="deleteById">
        delete from foodrecord where id=#{id};
    </delete>
    <select id="selectByFoodId">
        select * from foodrecord where food_id=#{foodId};
    </select>


</mapper>